<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/info.js"></script>

</head>

<body>
<section class='navbar'>
	<h1><span style="color:#4A90E2">citizen</span><span style="color:#D0021B">CAN</span></h1>
	<p>reps</p>
	<p>bills</p>
</section>
	<section class="main">
		<section class="bill">
			<h3>The Issue: Abortion</h3>
			<p>No Taxpayer Funding for Abortion and Abortion Insurance Full Disclosure Act of 2015
			Read description</p>
			<p></p>
		</section>		

		<iframe width="560" height="315"
			
			src="https://www.youtube.com/embed/O4mQqVqRB7I?autoplay=1" frameborder="0" allowfullscreen>
		
		</iframe>

	</section>

	

</body>
</html>