<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/info.js"></script>

</head>

<body>
<section class='navbar'>
	<h1><span style="color:#4A90E2">citizen</span><span style="color:#D0021B">CAN</span></h1>
	<p>reps</p>
	<p>bills</p>
</section>
	<section class="main">

	
	<% for(var i=0; i < 5; i++) { %>
		<% for (var j = 0; j < 5; j++) { %>
            <section class="bill">
            	<h3 class="bill-issue">The Issue: Abortion</h3> 

                <p class="bill-issue"><%= finalbills[i][j]['title'] %></p>
                
        	</section>
         <% } %>

    <% } %>


	
</section>

</body>
</html>